@keyframes demo {
  0% {
    transform: translate(149.90133642px, 103.13952598px);
  }
  1% {
    transform: translate(149.60573507px, 106.26666168px);
  }
  2% {
    transform: translate(149.11436254px, 109.36906573px);
  }
  3% {
    transform: translate(148.42915806px, 112.43449436px);
  }
  4% {
    transform: translate(147.55282581px, 115.45084972px);
  }
  5% {
    transform: translate(146.48882429px, 118.40622763px);
  }
  6% {
    transform: translate(145.24135262px, 121.28896458px);
  }
  7% {
    transform: translate(143.815334px, 124.08768371px);
  }
  8% {
    transform: translate(142.21639628px, 126.79133975px);
  }
  9% {
    transform: translate(140.45084972px, 129.38926261px);
  }
  10% {
    transform: translate(138.52566214px, 131.87119949px);
  }
  11% {
    transform: translate(136.44843137px, 134.2273553px);
  }
  12% {
    transform: translate(134.2273553px, 136.44843137px);
  }
  13% {
    transform: translate(131.87119949px, 138.52566214px);
  }
  14% {
    transform: translate(129.38926261px, 140.45084972px);
  }
  15% {
    transform: translate(126.79133975px, 142.21639628px);
  }
  16% {
    transform: translate(124.08768371px, 143.815334px);
  }
  17% {
    transform: translate(121.28896458px, 145.24135262px);
  }
  18% {
    transform: translate(118.40622763px, 146.48882429px);
  }
  19% {
    transform: translate(115.45084972px, 147.55282581px);
  }
  20% {
    transform: translate(112.43449436px, 148.42915806px);
  }
  21% {
    transform: translate(109.36906573px, 149.11436254px);
  }
  22% {
    transform: translate(106.26666168px, 149.60573507px);
  }
  23% {
    transform: translate(103.13952598px, 149.90133642px);
  }
  24% {
    transform: translate(100px, 150px);
  }
  25% {
    transform: translate(96.86047402px, 149.90133642px);
  }
  26% {
    transform: translate(93.73333832px, 149.60573507px);
  }
  27% {
    transform: translate(90.63093427px, 149.11436254px);
  }
  28% {
    transform: translate(87.56550564px, 148.42915806px);
  }
  29% {
    transform: translate(84.54915028px, 147.55282581px);
  }
  30% {
    transform: translate(81.59377237px, 146.48882429px);
  }
  31% {
    transform: translate(78.71103542px, 145.24135262px);
  }
  32% {
    transform: translate(75.91231629px, 143.815334px);
  }
  33% {
    transform: translate(73.20866025px, 142.21639628px);
  }
  34% {
    transform: translate(70.61073739px, 140.45084972px);
  }
  35% {
    transform: translate(68.12880051px, 138.52566214px);
  }
  36% {
    transform: translate(65.7726447px, 136.44843137px);
  }
  37% {
    transform: translate(63.55156863px, 134.2273553px);
  }
  38% {
    transform: translate(61.47433786px, 131.87119949px);
  }
  39% {
    transform: translate(59.54915028px, 129.38926261px);
  }
  40% {
    transform: translate(57.78360372px, 126.79133975px);
  }
  41% {
    transform: translate(56.184666px, 124.08768371px);
  }
  42% {
    transform: translate(54.75864738px, 121.28896458px);
  }
  43% {
    transform: translate(53.51117571px, 118.40622763px);
  }
  44% {
    transform: translate(52.44717419px, 115.45084972px);
  }
  45% {
    transform: translate(51.57084194px, 112.43449436px);
  }
  46% {
    transform: translate(50.88563746px, 109.36906573px);
  }
  47% {
    transform: translate(50.39426493px, 106.26666168px);
  }
  48% {
    transform: translate(50.09866358px, 103.13952598px);
  }
  49% {
    transform: translate(50px, 100px);
  }
  50% {
    transform: translate(50.09866358px, 96.86047402px);
  }
  51% {
    transform: translate(50.39426493px, 93.73333832px);
  }
  52% {
    transform: translate(50.88563746px, 90.63093427px);
  }
  53% {
    transform: translate(51.57084194px, 87.56550564px);
  }
  54% {
    transform: translate(52.44717419px, 84.54915028px);
  }
  55% {
    transform: translate(53.51117571px, 81.59377237px);
  }
  56% {
    transform: translate(54.75864738px, 78.71103542px);
  }
  57% {
    transform: translate(56.184666px, 75.91231629px);
  }
  58% {
    transform: translate(57.78360372px, 73.20866025px);
  }
  59% {
    transform: translate(59.54915028px, 70.61073739px);
  }
  60% {
    transform: translate(61.47433786px, 68.12880051px);
  }
  61% {
    transform: translate(63.55156863px, 65.7726447px);
  }
  62% {
    transform: translate(65.7726447px, 63.55156863px);
  }
  63% {
    transform: translate(68.12880051px, 61.47433786px);
  }
  64% {
    transform: translate(70.61073739px, 59.54915028px);
  }
  65% {
    transform: translate(73.20866025px, 57.78360372px);
  }
  66% {
    transform: translate(75.91231629px, 56.184666px);
  }
  67% {
    transform: translate(78.71103542px, 54.75864738px);
  }
  68% {
    transform: translate(81.59377237px, 53.51117571px);
  }
  69% {
    transform: translate(84.54915028px, 52.44717419px);
  }
  70% {
    transform: translate(87.56550564px, 51.57084194px);
  }
  71% {
    transform: translate(90.63093427px, 50.88563746px);
  }
  72% {
    transform: translate(93.73333832px, 50.39426493px);
  }
  73% {
    transform: translate(96.86047402px, 50.09866358px);
  }
  74% {
    transform: translate(100px, 50px);
  }
  75% {
    transform: translate(103.13952598px, 50.09866358px);
  }
  76% {
    transform: translate(106.26666168px, 50.39426493px);
  }
  77% {
    transform: translate(109.36906573px, 50.88563746px);
  }
  78% {
    transform: translate(112.43449436px, 51.57084194px);
  }
  79% {
    transform: translate(115.45084972px, 52.44717419px);
  }
  80% {
    transform: translate(118.40622763px, 53.51117571px);
  }
  81% {
    transform: translate(121.28896458px, 54.75864738px);
  }
  82% {
    transform: translate(124.08768371px, 56.184666px);
  }
  83% {
    transform: translate(126.79133975px, 57.78360372px);
  }
  84% {
    transform: translate(129.38926261px, 59.54915028px);
  }
  85% {
    transform: translate(131.87119949px, 61.47433786px);
  }
  86% {
    transform: translate(134.2273553px, 63.55156863px);
  }
  87% {
    transform: translate(136.44843137px, 65.7726447px);
  }
  88% {
    transform: translate(138.52566214px, 68.12880051px);
  }
  89% {
    transform: translate(140.45084972px, 70.61073739px);
  }
  90% {
    transform: translate(142.21639628px, 73.20866025px);
  }
  91% {
    transform: translate(143.815334px, 75.91231629px);
  }
  92% {
    transform: translate(145.24135262px, 78.71103542px);
  }
  93% {
    transform: translate(146.48882429px, 81.59377237px);
  }
  94% {
    transform: translate(147.55282581px, 84.54915028px);
  }
  95% {
    transform: translate(148.42915806px, 87.56550564px);
  }
  96% {
    transform: translate(149.11436254px, 90.63093427px);
  }
  97% {
    transform: translate(149.60573507px, 93.73333832px);
  }
  98% {
    transform: translate(149.90133642px, 96.86047402px);
  }
  99% {
    transform: translate(150px, 100px);
  }
  100% {
    transform: translate(149.90133642px, 103.13952598px);
  }
}
.circle {
  animation-name: demo;
}
