{template "content" ,"header"}
<!-- banner -->
	<div class="pinpai_banner dis">
		<div class="gushi_out">
			<div class="gushi_box">
				<img src="{IMG_PATH}myimg/zy_banner.png" alt="">
			</div>
		</div>
	</div>
<!-- banner结束 -->
	<!-- 品牌故事 -->
	<div class="gushi_neirong">
		<div class="left">
			<ul>
				{pc:content action="category" catid="$top_parentid" num="10"}
					{loop $data $v}
						<li><a>{$v[catname]}</a></li>
					{/loop}
				{/pc}
			</ul>
		</div>
		<div class="right">
			<div class="title">
				<span class="title_left"> {$v[catname]}</span>
				<span class="xiao"> {$v[catdir]}</span>
				<div class="biaoti">
					<a href="{siteurl($siteid)}">首页</a> > {$CATEGORYS[$top_parentid][catname]}
				</div>
			</div>
			<div class="lianxi">
				<span class="title_lianxi">广州欢腾鞋业有限公司</span><br>
				<span>地址：广州市白云区德康路10-12号B座801房</span><br>
				<span>联系人：马总</span><br>
				<span>联系电话：18734563166    400-6505-778</span>
			</div>
		</div>
		<div class="clear">	</div>
	</div>
	<!-- 品牌故事结束 -->
{template "content" ,"footer"}




