<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/css/swiper.min.css">
    <link rel="stylesheet" href="/css/public.css">
    <script src="/js/angular.min.js"></script>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/touch.js"></script>
    <script src="/js/swiper.jquery.js"></script>
    <script src="/js/angular-route.min.js"></script>
    <script src="/js/angular-animate.min.js"></script>
    <script src="/js/controllers.js"></script>
    <script src="/js/route.js"></script>
    <script src="/js/services.js"></script>
    <script src="/js/app.js"></script>
    <script>
        if(!localStorage.messign){
            localStorage.messign="yes";
            location.href="/welcome";
        }
    </script>
</head>
<style>
    .view-animate {
        transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.5s;
        position: absolute;
        width:100%;

    }

    .view-animate.ng-enter, .view-animate.ng-leave {
        display:block;
        left:0px;
    }

    .view-animate.ng-enter {
        left:100%;
    }
    .view-animate.ng-enter.ng-enter-active {
        left:0px;

    }
    .view-animate.ng-leave.ng-leave-active {

        left:-100%;
    }
</style>
<body ng-app="myapp">
<div ng-view class="view-animate">

</div>
下面的列表
</body>
</html>