<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
	<link rel="stylesheet" href="{CSS_PATH}/public/swiper.min.css">
    <link rel="stylesheet" href="{CSS_PATH}/public/public.css" />
    <link rel="stylesheet" href="{CSS_PATH}/comment.css" />
    <script src="{JS_PATH}/public/zepto.js"></script>
	<script src="{JS_PATH}/index.js"></script>
	</head>
	<body>
		<div class="hanbox">
			<!--状态栏-->
			
			<div class="hanstaue"></div>
				<!--导航栏-->
				<div class="hantop">
					<div class="hannav"></div>
					<!--返回键-->
					
					<div class="fanhui">
						<
					</div>
					<script src="{JS_PATH}/public/touch.js"></script>
		<script>
			touch.on(".fanhui","tap",function(){
				window.location.href="index.php?m=index&f=tour"
			})
		</script>
					<div class="ly-navTitle">
					<p>发布评论信息</p>
					<p>FABIAOPINGLUN</p>
				</div>	
			</div>
			<div class="pinglun">
				<textarea name="" rows="" cols="">请评论...</textarea>
				<div class="zishu">
					<span>/300</span>
					<span class="zi">296</span>
			</div>
		</div>
	</body>
</html>
