<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Swiper demo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="{CSS_PATH}/public/swiper.min.css">
    <link rel="stylesheet" type="text/css" href="{CSS_PATH}/base.css"/>
    <link rel="stylesheet" type="text/css" href="{CSS_PATH}/newindex.css"/>
    <link rel="stylesheet" type="text/css" href="{CSS_PATH}/font/iconfont.css">
	<script src="{JS_PATH}/public/swiper.min.js"></script>
	<script src="{JS_PATH}/public/zepto.js"></script>
	<script src="{JS_PATH}/public/iscroll.js"></script>
	<script src="{JS_PATH}/public/touch.js"></script>
	<script src="{JS_PATH}/xiangqing.js"></script>
</head>
<body>
	<div class="lywrap">		
		<!--主体-->
		<div class="lymain">
			<!--导航栏-->
			<div class="lynav">
				<div class="lyzhezhao">					
				</div>
			</div>
	    	<!-- banner -->
	    	<div class="lybanner">
			    <div class="swiper-container">
			        <div class="swiper-wrapper">
			        	<a href="" class="swiper-slide">
			        		<div class="lynav-title">
			        			<div>
			        				<i class="iconfont icon-zuobiao"></i>
			        				<span>北京</span>
			        			</div>
			        			<div>
			        				<span>01</span>
			        				<span>/</span>
			        				<span>05</span>
			        			</div>	
			        			<div>关注</div>			        			
			        		</div>
			        	</a>
			        	<a href="" class="swiper-slide">
			        		<div class="lynav-title">
			        			<div>
			        				<i class="iconfont icon-zuobiao"></i>
			        				北京
			        			</div>
			        			<div>
			        				<span>02</span>
			        				<span>/</span>
			        				<span>05</span>
			        			</div>	
			        			<div>关注</div>			        			
			        		</div>
			        	</a>
			        	<a href="" class="swiper-slide">
			        		<div class="lynav-title">
			        			<div>
			        				<i class="iconfont icon-zuobiao"></i>
			        				北京
			        			</div>
			        			<div>
			        				<span>03</span>
			        				<span>/</span>
			        				<span>05</span>
			        			</div>	
			        			<div>关注</div>
			        		</div>
			        	</a>
			        	<a href="" class="swiper-slide">
			        		<div class="lynav-title">
			        			<div>
			        				<i class="iconfont icon-zuobiao"></i>
			        				北京
			        			</div>
			        			<div>
			        				<span>04</span>
			        				<span>/</span>
			        				<span>05</span>
			        			</div>	
			        			<div>关注</div>
			        		</div>
			        	</a>
			        	<a href="" class="swiper-slide">
			        		<div class="lynav-title">
			        			<div>
			        				<i class="iconfont icon-zuobiao"></i>
			        				北京
			        			</div>
			        			<div>
			        				<span>05</span>
			        				<span>/</span>
			        				<span>05</span>
			        			</div>	
			        			<div>关注</div>
			        		</div>
			        	</a>
			        </div>
			        <!-- Add Pagination -->
			        <div class="swiper-pagination"></div>
			    </div>
		    </div>
			<!--产品信息-->
			<div class="lymk1">
				<p class="lymk1-title">
					[京韵文化]太原至北京
					<span>五日游</span>
				</p>
				<p class="lymk1-english">
					TAIYUAN TO BEIJING
				</p>
				<p class="lymk1-other">
					<i class="iconfont icon-xingxing"></i>
					<i class="iconfont icon-xingxing"></i>
					<i class="iconfont icon-xingxing"></i>
					<i class="iconfont icon-xingxing"></i>
					<i class="iconfont icon-xingxing"></i>
					 5.0vol
				</p>
				<p class="lymk1-money">
					688.00
					<span>RMB</span>
				</p>
				<div class="lymk1Color1"></div>
				<div class="lymk1Color2"></div>
			</div>
			<!--文字详情-->
			<div class="lymk2">
				<p>
					太原北京七日纯玩，第一天太原火车站出发，到京后，有专<br>
					人接站，入住酒店...<br>
					第二天早上六点到天安门广场看升国旗......
				</p>
				<div class="lymk2-xiala">
					<i class="iconfont icon-19qijinyanshujutongji08-copy"></i>
				</div>
				<div class="lymk2-button">
					<span>含餐</span>
					<span>不含餐</span>
					<span>不含门票</span>
				</div>
				<div class="lymk1Color1"></div>
				<div class="lymk1Color2"></div>
			</div>
			<!--购买数-->
			<div class="lymk3">
				<p>
					NUMBER
					<span>数•量</span>
				</p>
				<div class="lymk3-number">
					<span>-</span>
					<span>02</span>
					<span>+</span>
				</div>
				<div class="lymk1Color1"></div>
				<div class="lymk1Color2"></div>
			</div>
			<div class="lymk4">
				<div class="lyBtn">
					<span>
						• 相似路线 •
					</span>
					<span>
						• 推荐路线 •
					</span>					
				</div>
				<!--轮播-->
				<div class="lymk4-move">
					<div class="lyswiper-container">
				        <div class="swiper-wrapper">
				            <div class="swiper-slide">
				            	<p class="lymess">
				            		<span>西藏自驾游</span>
				            		<span>1350.00RMB</span>
				            		<span>4700</span>
				            	</p>
				            </div>
				            <div class="swiper-slide">
				            	<p class="lymess">
				            		<span>五台山自驾游</span>
				            		<span>1350.00RMB</span>
				            		<span>4700</span>
				            	</p>
				            </div>
				            <div class="swiper-slide">
				            	<p class="lymess">
				            		<span>港澳台10日游</span>
				            		<span>1350.00RMB</span>
				            		<span>4700</span>
				            	</p>
				            </div>
				            <div class="swiper-slide">
				            	<p class="lymess">
				            		<span>五台山自驾游</span>
				            		<span>1350.00RMB</span>
				            		<span>4700</span>
				            	</p>
				            </div>
				            <div class="swiper-slide">
				            	<p class="lymess">
				            		<span>西藏自驾游</span>
				            		<span>1350.00RMB</span>
				            		<span>4700</span>
				            	</p>
				            </div>
				        </div>
			    	</div>
				</div>				
				<div class="lymk1Color1"></div>
				<div class="lymk1Color2"></div>
			</div>
			<!--价格-->
			<div class="lymoney">
				<span>688.00*2</span>
				<span><em></em>1376.00</span>
			</div>
		</div>
		<div class="ly-nav">
			<div class="ly-navLeft">
				<a href="" class="iconfont icon-fanhui"></a>
			</div>
			<div class="ly-navTitle">
				<p>查看商品详情</p>
				<p>DETAILS</p>
			</div>
			<div class="ly-navRight">
				<a href="" class="iconfont icon-fenxiang1"></a>
			</div>
		</div>
		<div class="webfooter">
			<div>咨询</div>
			<div>立即购买</div>
		</div>		
   </div>
   <!--遮罩-->
   <div class="lyShare">
   		<div class="share-center">
   			<div class="shareTop">
   				<i class="iconfont icon-fenxiang1"></i>
   			</div>
   			<div class="shareBot">
   				<div class="shareBot-1">
   					<span>
   						快去分享给你的朋友吧
   					</span>
   				</div>
   				<div class="shareBot-2">
   					<div class="lyTubiao">
   						<i class="iconfont icon-qq1"></i>
   						<i class="iconfont icon-kongjian"></i>
   						<i class="iconfont icon-weixin"></i>
   						<i class="iconfont icon-weibo"></i>
   					</div>
   					<p>更多...</p>
   				</div>
   			</div>
   		</div>
   </div>
</body>
</html>
