<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<form method="post" action="/add">

    姓名：<input type="text" name="name"/> <br /><br />
    年龄：<input type="text" name="age"/> <br /><br />
    性别：男<lable><input type="radio" name="sex"  value="男" checked/></lable>
    女<input type="radio" name="sex" value="女" /><br /><br />
    <input type="submit" name="" id="" value="提交" />
</form>
</body>
</html>