<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<form method="post" action="/editin">
    姓名：<input type="text" name="name" value='<%=result[0].name%>'/> <br /><br />
    年龄：<input type="text" name="age" value='<%=result[0].age%>'/> <br /><br />
    性别：
    男<lable><input type="radio" name="sex" id="" value="男" <%if(result[0].sex=="男"){%> checked <%}%> /></lable>
    女<input type="radio" name="sex" value="女" <%if(result[0].sex=="女"){%> checked <%}%>/><br /><br />
    <input type="submit" name="" value="修改信息" />
    <input type="hidden" name='id' value='<%=result[0].id%>'/>
</form>
</body>
</html>